<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="cmp.$mdMedia('gt-md')" ng-init="cmp.init()">
    <md-toolbar class="md-tall md-hue-2">

        <span flex></span>

        <div layout="column" class="md-toolbar-tools-bottom inset">
            <div class="row">
                <div class="col-sm-12">
                    <company-info-upload img="cmp.logo"></company-info-upload>
                </div>
            </div>

            <span></span>

        </div>
    </md-toolbar>
    <md-list>
        <md-item ng-repeat="item in cmp.menu">
            <a>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>

    </md-list>
</md-sidenav>
<div layout="column" class="relative" layout-fill role="main">

    <md-toolbar >
        <div class="md-toolbar-tools">
            <md-button ng-click="cmp.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                Dashboard
            </h3>
            <span flex></span>

        </div>

    </md-toolbar>

    <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm></div>

            <md-card flex-gt-sm="90" flex-gt-md="80">
                <md-card-content>
                    <h2>{{cmp.selectedMenu.title}}</h2>

                    <company-info-form form-data="cmp.payload" on-submit="cmp.onSubmit()"></company-info-form>


                </md-card-content>
            </md-card>

        </ui-view>
    </md-content>
</div>
